selenium==4.22.0
pandas==2.2.2
numpy==2.2.6


pip install flask;pip install googletran;,pip install doten;,pip install openpyxl;pip install selenium;pip install plotly;pip install prophet;pip install sklearn;pip install tensorflow;pip install nltk